*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    color: #9ba3b4;
    background-color: #0d1117;
}

.main-header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2px;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    height: 58px;
}


.left{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    align-items: center;

}




.vsc{
    font-weight: 800;
    color: #e9eaeb;
    font-size: 20px;
}

header a{
    color: #9ba3b4;
}

header a:link{
    text-decoration: none;
    color: #9ba3b4;
}



.left a:hover{
    color:white;
}




/* right side */

.right{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 16px;
    align-items: center;
}

.dark-mode{
    height: 20px;
}

.download{
    color: white;
    background-color: #0078d4;
    font-weight: 600;
    padding: 6.5px 16px;
    border-radius: 4px;
    font-size: 16px;
}

.search{
    width: 150px;
    height: 20px;
    background-color: #0d1117;
    border: 1px solid rgba(255,255,255, .15);
    padding: 5px 12px 5px 36px;
    color: #9ba3b4;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 15px;
}

.main--top{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1240px;
}

h1{
    font-size: 72px;
    color: white;
}

.main-p{
    font-size: 26px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    width: 720px;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
}

.main-download{
    width: 422.7px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-download p{
    text-align: center;
}

.main-img{
    width: 1240px;
}

.main-buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.main-buttons button{
    flex: 1;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.main-links{
    font-size: 13px ;
    width: 100%;
    margin-bottom: 20px;
}

.main-links a{
    color: #0078d4;
}

.terms{
    font-size: 11px;
    opacity: 0;
    transition-duration: .15s;
}

.main-download:hover .terms{
    opacity: 1;
}

.button-1{
    background-color:  #0078d4;
    color: white;
}

.button-1:hover{

}

.button-2{
    background-color: #ffffff1a;
    color: #e9eaeb;
}